fastapi
uvicorn
streamlit
streamlit-aggrid
pandas
python-dotenv
openpyxl
plotly
networkx
scikit-learn
chromadb
langchain
langgraph
groq
google-generativeai
PyMuPDF
easyocr
Pillow
python-multipart
unstructured
numpy
